<!-- <div class="container-fluid">
  <div class="container">
    <form [formGroup]="registrationForm" >
      <h4 style="text-align:center;">Personal Details</h4>
      <div>
        <p>
          <label>RoleType</label>
           <input type="text" formControlName="roletype" value="farmer" readonly="readonly">
       </p>
      </div>
        <div>
          <p>
              <label>FirstName</label>
               <input type="text" formControlName="firstName">
           </p>
           <div *ngIf="!registrationForm.get('firstName')?.valid && registrationForm.get('firstName')?.touched" 
           class="alert alert-danger"> First Name is required</div>
           <p>
            <label>LastName</label>
             <input type="text" formControlName="lastName">
         </p>
         <div *ngIf="!registrationForm.get('lastName')?.valid && registrationForm.get('lastName')?.touched" 
         class="alert alert-danger"> LastName is required</div>
          
           <p>
               <label>E-mail Id</label>
               <input type="text" formControlName="email">
           </p>
           <div *ngIf="!registrationForm.get('email')?.valid && (registrationForm.get('email')?.dirty || registrationForm.get('email')?.touched)"
  class = "alert alert-danger">

      <div *ngIf="!registrationForm.get('email')?.errors?.required">
      <small class="text-danger">Email is required </small>
      </div>

      <div *ngIf="!registrationForm.get('email')?.errors?.email">
      <small class="text-danger">Invalid email address</small>
      </div>
`   </div>
        </div>  
        <div>
            <h4 style="text-align:center;">AddressDetails</h4>
            <p>
              <label>Address1</label>
              <textarea rows="4" cols="50" formControlName="address1">Please Enter your primary Address</textarea></p>
              <div *ngIf="!registrationForm.get('address1')?.valid && registrationForm.get('address1')?.touched" 
         class="alert alert-danger"> Address is required</div>
            <p>
              <label>Address2</label>
              <textarea rows="4" cols="50" formControlName="address2">Please enter your secondary address</textarea></p>
              <div *ngIf="!registrationForm.get('address2')?.valid && registrationForm.get('address2')?.touched" 
         class="alert alert-danger"> Address is required</div>
            
        </div>
        <div>
          <p>
              <label>City</label>
               <input type="text" formControlName="city">
           </p>
           <div *ngIf="!registrationForm.get('city')?.valid && registrationForm.get('city')?.touched" 
           class="alert alert-danger"> City is required</div>
           
           <div class="custom_select">
            <label for="State"><b>State</b></label>
            <select style="max-width:50%;margin-left: 170px; width:30%; height:25px;" placeholder="Enter State"  formControlName="state"> 
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chandigarh">Chandigarh</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                <option value="Daman and Diu">Daman and Diu</option>
                <option value="Delhi">Delhi</option>
                <option value="Lakshadweep">Lakshadweep</option>
                <option value="Puducherry">Puducherry</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Odisha">Odisha</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Telangana">Telangana</option>
                <option value="Tripura">Tripura</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Uttarakhand">Uttarakhand</option>
                <option value="West Bengal">West Bengal</option>
            </select>
        </div>
           <div *ngIf="!registrationForm.get('state')?.valid && registrationForm.get('state')?.touched" 
           class="alert alert-danger"> state is required</div>
           
           <div class="inputfeild">
               <label>Pin Code</label>
               <input type="text" formControlName="pincode">
           </div>
           <div class="alert alert-danger" *ngIf="!registrationForm.get('pincode')?.valid && registrationForm.get('pincode')?.touched" >
            <div [hidden]="!registrationForm.get('pincode')?.errors?.required">pincode is required</div>
            <div [hidden]="!registrationForm.get('pincode')?.errors?.pattern">Enter valid pincode</div>
           </div> 
      </div>

      <h4>Land Details</h4><br>
<div class="inputfield">
<label for="LandArea"><b>Area (in hectare)</b></label>
<input type="number" placeholder="Enter LandArea" id="landArea" name="landArea" formControlName="landArea">
  </div>
    <div class="alert alert-danger"*ngIf="!registrationForm.get('landArea')?.valid && registrationForm.get('landArea')?.touched">
    <div [hidden]="!registrationForm.get('landArea')?.errors?.required">Land Area is required</div>
</div>
<div class="inputfield">
    <label for="LandAddress"><b>Address</b></label>
    <textarea  placeholder="Enter LandAddress" id="landAddress" name="landAddress" formControlName="landAddress"></textarea>
  </div>
    <div class="alert alert-danger"*ngIf="registrationForm.get('landAddress')?.valid && registrationForm.get('landAddress')?.touched">
      <div [hidden]="registrationForm.get('landAddress')?.errors?.required">Land Address is required</div>
      <div [hidden]="registrationForm.get('landAddress')?.errors?.maxlength">Land Address max length Exceeded</div>
    </div>
<br>

<div class="inputfield">
<label for="LandPincode"><b>Pincode</b></label>
<input type="text" placeholder="Enter Land Pincode" id="landPincode" name="landPincode" formControlName="landPincode">
</div>
<div class="alert alert-danger"*ngIf="registrationForm.get('landPincode')?.valid && registrationForm.get('landPincode')?.touched">
<div [hidden]="registrationForm.get('landPincode')?.errors?.required">Pincode is required</div>
<div [hidden]="registrationForm.get('landPincode')?.errors?.pattern">Pincode must be a 6 digit Number
</div>
</div>
<br><hr><br>

        <div>
            <h4 style="text-align:center;">Bank Details</h4>
              <div class="inputfeild">
                  <label>Account No</label>
                  <input type="text" formControlName="accountNo">
              </div>
              <div class="alert alert-danger" *ngIf="!registrationForm.get('accountNo')?.valid && registrationForm.get('accountNo')?.touched">
                <div [hidden]="!registrationForm.get('accountNo')?.errors?.required">Account No is required</div>
                <div [hidden]="!registrationForm.get('accountNo')?.errors?.pattern">Enter valid Account No</div>
              </div> 
                <div class="inputfeild">
                    <label>IFSC Code</label>
                    <input type="text" formControlName="ifscCode">
                </div>
                <div *ngIf="!registrationForm.get('ifscCode')?.valid && registrationForm.get('ifscCode')?.touched" 
                class="alert alert-danger">
                <div [hidden]="!registrationForm.get('ifscCode')?.errors?.required">IFSC Code is required</div>
                <div [hidden]="!registrationForm.get('ifscCode')?.errors?.pattern">Enter valid IFSC code</div>
              </div>

        </div>
        <div>
          <h4 style="text-align:center;">Documents Upload</h4>
          <div class="inputfield">
            <label for="Aadhar"><b>Aadhar Card</b></label>
            <input type="text" required name="fAadhar" id="fAadhar" placeholder="Enter Aadhar Number"  formControlName="aadharCard" >
          </div>
          <div *ngIf="!registrationForm.get('aadharCard')?.valid && registrationForm.get('aadharCard')?.touched" 
              class="alert alert-danger">
            <div [hidden]="!registrationForm.get('aadharCard')?.errors?.required">
              Aadhar is required
            </div>
            <div [hidden]="!registrationForm.get('aadharCard')?.errors?.pattern">
                Aadhar must be a 12 digit Number 
            </div>
          </div>
        
        <br><br>

        <div class="inputfield">
            <label for="Pan"><b>Pan Card</b></label>
            <input type="text" required name="pan" id="pan" placeholder="Enter Pan Number" formControlName="panCard" >
        </div>
        <div class="error"
             *ngIf="!registrationForm.get('panCard')?.valid && registrationForm.get('panCard')?.touched">
            <div [hidden]="!registrationForm.get('panCard')?.errors?.required">
              Pan is required
            </div>
            <div [hidden]="!registrationForm.get('panCard')?.errors?.pattern">
                Invalid Pan Number 
            </div>
            </div>
        <br><br>

        <div class="inputfield">
            <label for="Certificate"><b>Certificate</b></label>
            <input type="text" required name="fCertificate" id="certificate" formControlName="certificate"  >
        </div>
        <div class="error"
             *ngIf="!registrationForm.get('certificate')?.valid && registrationForm.get('certificate')?.touched">
            <div [hidden]="!registrationForm.get('certificate')?.errors?.required">
                Certificate is required
            </div>
        </div>

         

      </div>

      <div>
          <div class="inputfeild">
              <label>Password</label>
              <input type="password" formControlName="password">
          </div>
          <div *ngIf="!registrationForm.get('password')?.valid && registrationForm.get('password')?.touched"class="alert alert-danger">

          <div *ngIf="registrationForm.get('password')?.errors?.required">
          Password is required
          </div> -->

          <!-- <div *ngIf="registrationForm.get('password')?.errors?.pattern"> 
              Password should contain one uppercase letter, one lowercase letter and one number 
              <br>Password should be 8 to 12 characters in length
          </div> -->

      <!-- </div> -->

          <!-- <p>
              <label>Confirm Password</label>
              <input type="password" formControlName="confirmpassword">
          </p>

      </div>
          <div *ngIf="!registrationForm.get('confirmpassword')?.valid && registrationForm.get('confirmpassword')?.touched" class="alert alert-danger">

          <div *ngIf="registrationForm.get('confirmpassword')?.errors?.required">
              Confirm Password is required
          </div> -->
<!-- 
          <div *ngIf="registrationForm.get('confirmpassword')?.errors?.pattern"> 
                  Password should contain one uppercase letter, one lowercase letter and one number 
                  <br>Password should be 8 to 12 characters in length
          </div> -->
      <!-- </div>
      
      
      <button class="btn btn-success" type="submit" (click)="addRequest()">Register</button>
      <button class="btn btn-success" type="button">Reset</button>
      
        
  </form>

  </div>
</div> -->

<!-- ///////////////////////////////////////////////////////////////////////// -->

<div class="container-fluid"style="background-image: url(assets/images/home/banners/bg-shop.jpg)">
  <div class="container" >
    <button class="btn btn-dark back" routerLink='/newuser' style="float: right;">Back</button>
    <br><br>
      <form [formGroup]="registrationForm"style="background-image: url('/src/assets/images/home/banners/bg-shop.jpg');">
          <h4 style="text-align:center;">Farmer's Personal Details</h4>
          <div class="form-group">
              <label><b>RoleType</b></label>
              <input class="form-control"type="text" formControlName="roletype" value="farmer" readonly="readonly">
          </div>
          <div class="row">
              <div class="form-group col-md-6">
                  <label><b>First Name</b></label>
                   <input class="form-control" type="text" formControlName="firstName">
                   <div *ngIf="!registrationForm.get('firstName')?.valid && registrationForm.get('firstName')?.touched" 
                   class="alert alert-danger"> First Name is required</div>
              </div>
              
  
               <div class="form-group col-md-6">
                  <label><b>Last Name</b></label>
                  <input class="form-control" type="text" formControlName="lastName">
                  <div *ngIf="!registrationForm.get('lastName')?.valid && registrationForm.get('lastName')?.touched" 
                  class="alert alert-danger"> LastName is required</div>
              </div>
               

          </div>

          

          <div class="form-group">
              <label><b>E-mail Id</b></label>
              <input class="form-control" type="text" formControlName="email">
          </div>
          <div *ngIf="!registrationForm.get('email')?.valid && (registrationForm.get('email')?.dirty || registrationForm.get('email')?.touched)"
           class = "alert alert-danger">
       
              <div *ngIf="!registrationForm.get('email')?.errors?.required">
                  <small class="text-danger">Email is required </small>
              </div>
              <div *ngIf="!registrationForm.get('email')?.errors?.email">
                  <small class="text-danger">Invalid email address</small>
              </div>
          </div>
          <br>
          <div class="row">
              <h4 style="text-align:center;">AddressDetails</h4>
          </div>
          <br>
          <div class="row">
              <div class="form-group col-md-6">
                  <label ><b>Address1</b></label>
                  <textarea class="form-control" rows="4" cols="50" formControlName="address1">Please Enter your primary Address</textarea>
                  <div *ngIf="!registrationForm.get('address1')?.valid && registrationForm.get('address1')?.touched" 
                  class="alert alert-danger"> Address is required</div>
              </div>
              
  
              <div class="form-group col-md-6">
                  <label ><b>Address2</b></label>
                  <textarea  class="form-control" rows="4" cols="50" formControlName="address2">Please enter your secondary address</textarea>
                  <div *ngIf="!registrationForm.get('address2')?.valid && registrationForm.get('address2')?.touched" 
                  class="alert alert-danger"> Address is required</div>
              </div>
          </div>
          <br>

          <div class="row">
              <div class="form-group col-md-4">
                  <label><b>City</b></label>
                  <input class="form-control" type="text" formControlName="city">
                  <div *ngIf="!registrationForm.get('city')?.valid && registrationForm.get('city')?.touched" 
                  class="alert alert-danger"> City is required</div>

              </div>
              <div class="form-group col-md-4">
                  <label for="State"><b>State</b></label>
                      <select class="form-control"  placeholder="Enter State"  formControlName="state"> 
                          <option value="Andhra Pradesh">Andhra Pradesh</option>
                          <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                          <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                          <option value="Assam">Assam</option>
                          <option value="Bihar">Bihar</option>
                          <option value="Chandigarh">Chandigarh</option>
                          <option value="Chhattisgarh">Chhattisgarh</option>
                          <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                          <option value="Daman and Diu">Daman and Diu</option>
                          <option value="Delhi">Delhi</option>
                          <option value="Lakshadweep">Lakshadweep</option>
                          <option value="Puducherry">Puducherry</option>
                          <option value="Goa">Goa</option>
                          <option value="Gujarat">Gujarat</option>
                          <option value="Haryana">Haryana</option>
                          <option value="Himachal Pradesh">Himachal Pradesh</option>
                          <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                          <option value="Jharkhand">Jharkhand</option>
                          <option value="Karnataka">Karnataka</option>
                          <option value="Kerala">Kerala</option>
                          <option value="Madhya Pradesh">Madhya Pradesh</option>
                          <option value="Maharashtra">Maharashtra</option>
                          <option value="Manipur">Manipur</option>
                          <option value="Meghalaya">Meghalaya</option>
                          <option value="Mizoram">Mizoram</option>
                          <option value="Nagaland">Nagaland</option>
                          <option value="Odisha">Odisha</option>
                          <option value="Punjab">Punjab</option>
                          <option value="Rajasthan">Rajasthan</option>
                          <option value="Sikkim">Sikkim</option>
                          <option value="Tamil Nadu">Tamil Nadu</option>
                          <option value="Telangana">Telangana</option>
                          <option value="Tripura">Tripura</option>
                          <option value="Uttar Pradesh">Uttar Pradesh</option>
                          <option value="Uttarakhand">Uttarakhand</option>
                          <option value="West Bengal">West Bengal</option>
                      </select>
                      <div *ngIf="!registrationForm.get('state')?.valid && registrationForm.get('state')?.touched" 
                      class="alert alert-danger"> state is required</div>

              </div>
              <div class="form-group col-md-4">
                  <label><b>Pin Code</b></label>
                  <input class="form-control" type="text" formControlName="pincode">
                  <div class="alert alert-danger" *ngIf="!registrationForm.get('pincode')?.valid && registrationForm.get('pincode')?.touched" >
                      <div [hidden]="!registrationForm.get('pincode')?.errors?.required">pincode is required</div>
                      <div [hidden]="!registrationForm.get('pincode')?.errors?.pattern">Enter valid pincode</div>
                  </div> 
              </div>
          </div>
          <br>

          <div class="row">
              <h4 style="text-align:center;">Bank Details</h4>
          </div>
          <Br>
          <div class="row">
              <div class="form-group col-md-6">
                  <label><b>Account No</b></label>
                  <input class="form-control" type="text" formControlName="accountNo">
              
                  <div class="alert alert-danger" *ngIf="!registrationForm.get('accountNo')?.valid && registrationForm.get('accountNo')?.touched">
                      <div [hidden]="!registrationForm.get('accountNo')?.errors?.required">Account No is required</div>
                      <div [hidden]="!registrationForm.get('accountNo')?.errors?.pattern">Enter valid Account No</div>

                  </div>
              </div>
              <div class="form-group col-md-6">
                  <label><b>IFSC Code</b></label>
                  <input class="form-control" type="text" formControlName="ifscCode">
              
                  <div *ngIf="!registrationForm.get('ifscCode')?.valid && registrationForm.get('ifscCode')?.touched" 
                      class="alert alert-danger">
                      <div [hidden]="!registrationForm.get('ifscCode')?.errors?.required">IFSC Code is required</div>
                      <div [hidden]="!registrationForm.get('ifscCode')?.errors?.pattern">Enter valid IFSC code</div>
                  </div>
              </div>
          </div>
          <br>

          <div class="row">
            <h4 style="text-align: center;">Land Details</h4>
          </div>
          <br>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="LandArea"><b>Area (in hectare)</b></label>
              <input class="form-control" type="number" placeholder="Enter LandArea" id="landArea" name="landArea" formControlName="landArea">
              <div class="alert alert-danger"*ngIf="!registrationForm.get('landArea')?.valid && registrationForm.get('landArea')?.touched">
                <div [hidden]="!registrationForm.get('landArea')?.errors?.required">Land Area is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="LandAddress"><b>Address</b></label>
              <textarea class="form-control"  placeholder="Enter LandAddress" id="landAddress" name="landAddress" formControlName="landArea"></textarea>
              <div class="alert alert-danger"*ngIf="!registrationForm.get('landArea')?.valid && !registrationForm.get('landArea')?.touched">
                <div [hidden]="!registrationForm.get('landArea')?.errors?.required">Land Address is required</div>
                <div [hidden]="!registrationForm.get('landArea')?.errors?.maxlength">Land Address max length Exceeded</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="LandPincode"><b>Pincode</b></label>
              <input class="form-control" type="text" placeholder="Enter Land Pincode" id="landPincode" name="landPincode" formControlName="landPincode">
              <div class="alert alert-danger"*ngIf="!registrationForm.get('landPincode')?.valid && !registrationForm.get('landPincode')?.touched">
                <div [hidden]="!registrationForm.get('landPincode')?.errors?.required">Pincode is required</div>
                <div [hidden]="!registrationForm.get('landPincode')?.errors?.pattern">Pincode must be a 6 digit Number
                </div>
                </div>
            </div>
          </div>
<br>

          <div class="row">
              <h4 style="text-align:center;">Documents Details</h4>
          </div>
          <br>
          <div class="row">
              <div class="form-group col-md-4">
                  <label for="Aadhar"><b>Aadhar Number</b></label>
                  <input class="form-control" type="text" required name="fAadhar" id="fAadhar" placeholder="Enter Aadhar Number"  formControlName="aadharCard" >
          
                      <div *ngIf="!registrationForm.get('aadharCard')?.valid && registrationForm.get('aadharCard')?.touched" 
                          class="alert alert-danger">
                          <div [hidden]="!registrationForm.get('aadharCard')?.errors?.required">
                              Aadhar is required</div>
                          <div [hidden]="!registrationForm.get('aadharCard')?.errors?.pattern">
                              Aadhar must be a 12 digit Number</div>
                      </div>

              </div>
              
              <div class="form-group col-md-4">
                  <label for="Pan"><b>Pan Card Number</b></label>
                  <input class="form-control" type="text" required name="pan" id="pan" placeholder="Enter Pan Number" formControlName="panCard" >
            
                  <div *ngIf="!registrationForm.get('panCard')?.valid && registrationForm.get('panCard')?.touched">
                      <div [hidden]="!registrationForm.get('panCard')?.errors?.required">
                  Pan is required
                      </div>
                      <div [hidden]="!registrationForm.get('panCard')?.errors?.pattern">
                          Invalid Pan Number 
                      </div>
                  </div>

              </div>
              <div class="form-group col-md-4">
                  <label for="Certificate"><b>Certificate Number</b></label>
                  <input class="form-control" placeholder="Enter Certificate Number" type="text" required name="certificate" id="certificate" formControlName="certificate"  >
            
                  <div *ngIf="!registrationForm.get('certificate')?.valid && registrationForm.get('certificate')?.touched">
                      <div [hidden]="!registrationForm.get('certificate')?.errors?.required">Certificate Number is required</div>

                      </div>
                  </div>
              </div>
              <!-- <div class="form-group col-md-4">
                <label for="Certificate"><b>Certificate</b></label>
                <input class="form-control" type="text" required name="certificate" id="certificate" formControlName="certificate"  >
            
                <div class="error" *ngIf="!registrationForm.get('certificate')?.valid && registrationForm.get('certificate')?.touched">
                  <div [hidden]="!registrationForm.get('certificate')?.errors?.required">
                    Certificate is required
                  </div>
                </div>
              </div> -->
              <br>

              <div class="row">
                  <div class="form-group col-md-6">
                      <label><b>Password</b></label>
                  <input class="form-control" type="password" formControlName="password">
              
                  <div *ngIf="!registrationForm.get('password')?.valid && registrationForm.get('password')?.touched"class="alert alert-danger">

                  <div *ngIf="registrationForm.get('password')?.errors?.required">
                      Password is required
                  </div>

                  <div *ngIf="registrationForm.get('password')?.errors?.pattern"> 
                      Password should contain one uppercase letter, one lowercase letter and one number 
                      <br>Password should be 8 to 12 characters in length
                  </div> 
              </div>
                      
                  </div>
              </div>
              <br>
              <div class="row">
                  <button class="btn btn-success form-control text-center" style="margin: auto;width: 25%;" type="submit" (click)="addRequest()">Register</button>

              </div>
              



          



      </form>
  </div>
  <br><br><br>
</div>
