<p>claiminsurance works!</p>
<div class="bg">
    <div class="content">
<form [formGroup]="claimform" class="card" (ngSubmit)="addRequest()"> 
    <div class="row ">
        <div class="col-md-6 mb-3 ">    
    <p>
        <label>Policy Number:</label>
        <input type="text" formControlName="PolicyNo" class="form-control ">
    </p>
    
    <div *ngIf="!claimform.get('policyno')?.valid && (claimform.get('policyno')?.dirty || claimform.get('policyno')?.touched)" class="error">
        <div *ngIf="claimform.get('policyno')?.errors?.required">
        <small class="text-danger">Please Enter the Policy Number.</small>
        </div>
    </div>
    </div>
    <div class="col-md-6 mb-3">
    <p>
        <label>Insurance Company :</label>
        <input type="text" formControlName="Icompany" class="form-control ">
    </p>
    <div *ngIf="!claimform.get('icompany')?.valid && (claimform.get('icompany')?.dirty || claimform.get('icompany')?.touched)" class="error">
        <div *ngIf="claimform.get('icompany')?.errors?.required">
            <small class="text-danger">Please Enter the Insurance company name.</small>
        </div>
    </div>
    </div></div>

    <div class="row">
        <div class="col-md-6 mb-3">
    <p>
        <label>Insurance Name :</label>
        <input type="text" formControlName="InsuranceName" class="form-control ">
    </p>
    
    <div *ngIf="!claimform.get('iname')?.valid && (claimform.get('iname')?.dirty || claimform.get('iname')?.touched)" class="error">
        <div *ngIf="claimform.get('iname')?.errors?.required">
        <small class="text-danger">Please Enter the Insurance Name.</small>
        </div>
    </div>
    </div>
    <div class="col-md-6 mb-3">
    <p>
        <label> Date of Loss:</label>
        <input type="date" formControlName="DateOfLoss" max="{{maxDate}}" class="form-control ">
    </p>
    <div *ngIf="!claimform.get('dateofloss')?.valid && (claimform.get('dateofloss')?.dirty || claimform.get('dateofloss')?.touched)" class="error">
        <div *ngIf="claimform.get('dateofloss')?.errors?.required">
            <small class="text-danger">Please Enter the date of loss.</small>
        </div>
    
    </div>
    </div></div>

    <div class="row">
        <div class="col-md-6 mb-3">
    <p>
        <label> Cause of loss:</label>
        <input type="text" formControlName="CauseOfLoss" class="form-control ">
    </p>
    <div *ngIf="!claimform.get('causeofloss')?.valid && (claimform.get('causeofloss')?.dirty || claimform.get('causeofloss')?.touched)" class="error">
        <div *ngIf="claimform.get('causeofloss')?.errors?.required">
            <small class="text-danger">Please Enter the cause of loss.</small>
        </div>
    
    </div>  
    </div>
    <div class="col-md-6 mb-3 ">    
        <p>
            <label>Sum insured by the Company:</label>
            <input type="text" formControlName="SumInsured" class="form-control ">
        </p>
        
        <div *ngIf="!claimform.get('suminsured')?.valid && (claimform.get('suminsured')?.dirty || claimform.get('suminsured')?.touched)" class="error">
            <div *ngIf="claimform.get('suminsured')?.errors?.required">
            <small class="text-danger">Please Enter the Policy Number.</small>
            </div>
        </div>
        </div>
    


    <div class="col-md-6 mb-3">
    <div class="form-center">
    <button class="btn btn-success" type="submit" [disabled]="!claimform.valid">Claim Request</button>
    </div>
</div></div> 
</form>

</div>
</div>