<div class="container-fluid" style="height: 700px;">
    <div class="container " style="padding: 110px;">
        <div class="row text-center">
            <div class="col-md-6 text-center" style="padding: 0 137px;">
                <div class="card" style="width: 18rem;">
                    <img src="../assets/images/newuser/farmerpic.jpg" class="card-img-top" alt="farmerpic">
                    <div class="card-body">
                      <p class="card-text">I am a FARMER</p>
                      <a routerLink='/farmerregistration' class="btn btn-primary">Register</a>
                    </div>
                </div>
    
            </div>
            <div class="col-md-6 text-center"style="padding: 0 137px;">
                <div class="card" style="width: 18rem;">
                    <img src="../assets/images/newuser/bid.jpg" class="card-img-top" alt="bidderpic">
                    <div class="card-body">
                      <p class="card-text">I am a BIDDER</p>
                      <a routerLink='/bidderregistration' class="btn btn-primary">Register</a>
                    </div>
                </div>
            </div>

            <br><br><br>

            
            
            <!-- <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="../assets/images/newuser/adminpic.png" class="card-img-top" alt="adminpic">
                    <div class="card-body">
                      <p class="card-text">I am an ADMIN</p>
                      <a routerLink='/admin' class="btn btn-primary">Register</a>
                    </div>
                </div>
    
            </div> -->
    <!-- <div class="container">
        <router-outlet></router-outlet>
    </div> -->
    <div class="row">
        <button class="btn btn-dark back" routerLink='/login'>Back</button>
    </div>

        </div>
        

    </div>

</div>
<br><br>
