

<div class="container">
  <div >
     
  </div>
  
  <div class="row">
      
      <div class="col-md-3 ">
          <div class="list-group">
              <a class="list-group-item list-group-item-action " style="background-color:#90c43e;"aria-current="true">
                  <i class="fa fa-user-circle-o px-2" aria-hidden="true" style="font-size: 50px;"></i> &nbsp;&nbsp;
                   <h5 class="py-3" style="float: right;">Welcome, Farmer!</h5>
              </a>
              <a  routerLink='placesellrequests' class="list-group-item list-group-item-action">Place Sell Requests</a>
              <a  routerLink='market' class="list-group-item list-group-item-action">View MarketPlace</a>
              <a  routerLink='soldcrophistory' class="list-group-item list-group-item-action">View Sold Crop History</a>
              <a  routerLink='insurance' class="list-group-item list-group-item-action">Insurance</a>
              
            </div>
      </div>
      <div class="col-md-9">
          
              <div class="rounded p-2 text-center"style="background-color:#90c43e;" id="navbarcollapse">
                  <h2>Farmer's Dashboard</h2>
              </div>
          
            <!-- router outlet of child components -->
              
              <router-outlet></router-outlet>
      </div>
  </div>

</div>
<br><br>

      