<p>biddermainpage works!</p>


     
<div class="container" >
  <div class="card-columns d-flex justify-content-center">
    
      <div class="card text-center" style="width: 18rem;">
        <div class="card-header">
          <b>PREVIOUS BIDS</b>
          
        </div>
        <div class="card-body">
          <div>
            <img class="card-img-top" src="assets/images/index.jpg" alt="Previous bids" width="20" height="200">
          </div>
          <a routerLink="" class="btn btn-primary">VIEW BIDS</a>
        </div>
        
      </div>
      
        <div class="card text-center" style="width: 18rem;">
          <div class="card-header">
            <b>PLACE NEW BIDS</b>
            
          </div>
          <div class="card-body">
            <div>
              <img class="card-img-top" src="assets/images/index.jpg" alt="Previous bids" width="20" height="200">
            </div>
            <a routerLink="" class="btn btn-primary">PLACE BIDS</a>
          </div>
    
  </div>
</div>
  
</div>