<!-- <p>login works!</p> -->
<div class="container-fluid loginback" style="background-image: url(assets/images/login/background/loginback.jpg)" >
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <form [formGroup]="loginform" method="post">
    
  
                    <div class="container">
                      <label for="uname"><b>Username</b></label>
                      <input type="text" formControlName="name" placeholder="Enter Username" name="uname" required>
                        <div *ngIf="!loginform.get('name')?.valid && (loginform.get('name')?.dirty || loginform.get('name')?.touched)" class="error">
                            <div *ngIf="loginform.get('name')?.errors?.required">
                            <small class="text-danger">Username Is Required</small>
                
                            </div>
                        </div>   
                  
                      <label for="psw"><b>Password</b></label>
                      <input type="password" formControlName="pwd" placeholder="Enter Password" name="psw" required>
                        <div *ngIf="!loginform.get('pwd')?.valid&&(loginform.get('pwd')?.dirty || loginform.get('pwd')?.touched)" class="error">
                            <div *ngIf="loginform.get('pwd')?.errors?.required">
                            <small class="text-danger">Password Is Required</small>
                
                            </div>
                        </div>

                      <br><br>
                  
                      <button type="submit">Login</button>
                      <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                      </label>
                    </div>
                  
                    <div class="container" style="background-color:#f1f1f1;overflow: hidden;">
                      
                       
                       <a routerLink='/forgotpwd'>Forgot Password?</a>
                    <br>
                    New User?<a routerLink='/newuser'>Register Here!</a>
                    
                     
                    </div>
                  </form>

            </div>
            <div class="col-md-3">

            </div>

        </div>
    </div>

</div>
  
