<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FarmersScheme</title> -->
    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
    <!-- <link rel="stylesheet" href="/site.css" /> -->
    
<!-- </head>
<body > -->
   
    
<!-- --------------------------------------------------------------------------------------- -->
<!--Navbar Starts-->
<nav class="navbar navbar-expand-sm navbar-light  a ">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
          <img src="../assets/images/home/logo/logo.png" class="weblogo">
          
          <h1 class="name">Farmers Portal</h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars" aria-hidden="true" style="color: #90c43e;"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-end " id="navbarNav" style="text-align: center;margin-right: 290px;">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link active" routerLink='home'><b>HOME</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='about' >ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink='login' >LOGIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " >CONTACT US</a>
                </li>
              
              <li class="nav-item">
                <a class="nav-link"  routerLink='biddermainpage'>Bidder Main Page</a>
            </li>

                <li class="nav-item">
                  <a class="nav-link" routerLink='admin' >Admin Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink='bidcomponent' >PlaceBid</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='viewbid' >ViewBid</a>
          </li>
            
                
                <li class="nav-item">
                        <div class="nav-social">
                                <a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a>&nbsp;
                                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>&nbsp;
                                <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>&nbsp;
                                <a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>&nbsp;
                                <a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>&nbsp;
                        </div>
                </li>
          </ul>
      </div>
    </div>
  </nav>
  <!--Navbar Ends-->
  
  
  <div >
    <router-outlet></router-outlet>
  </div>

   

    <!-- Footer -->
<footer class="bgfooter text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-facebook"></i></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-twitter"></i></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-google"></i></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-instagram"></i></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-linkedin"></i></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-github"></i></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p class="text-center">
          "We open the door to thousands of approved buyers and sellers.
          <br> Post your crop bid as a registered buyer, or create your crop offer as a platform verified seller. Through our rigorous customer compliance we make sure that only reliable users gain access to our digital marketplace."
        </p>
      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <!-- <section class="">
        <!--Grid row-->
        <!-- <div class="row"> -->
          <!--Grid column-->
          <!-- <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div> -->
          <!--Grid column-->
  
          <!--Grid column-->
          <!-- <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div> -->
          <!--Grid column-->
  
          <!--Grid column-->
          <!-- <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div> -->
          <!--Grid column-->
  
          <!--Grid column-->
          <!-- <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div> -->
          <!--Grid column-->
        <!-- </div> -->
        <!--Grid row-->
      <!-- </section> -->
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <!-- <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright |
      <a class="text-white" href="#">Privacy Policy</a>
      | All rights reserved.
    </div> -->
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
<!-- </body>
</html> -->
