<!-- <button class="btn-dark"routerLink='/login'>Logout</button> -->
<div class="container">
    <div >
       
    </div>
    
    <div class="row">
        
        <div class="col-md-3 ">
            <div class="list-group">
                <a class="list-group-item list-group-item-action " style="background-color:#90c43e;"aria-current="true">
                    <i class="fa fa-user-circle-o px-2" aria-hidden="true" style="font-size: 50px;"></i> &nbsp;&nbsp;
                     <h5 class="py-3" style="float: right;">Welcome, Admin!</h5>
                </a>
                <a routerLink='welcome'></a>
                <a  routerLink='user-details' class="list-group-item list-group-item-action">Users Details</a>
                <a  routerLink='crop-details' class="list-group-item list-group-item-action">Crops Sale Requests</a>
                <a  routerLink='bid-details' class="list-group-item list-group-item-action">Bidding Requests</a>
                <a  routerLink='claim-details' class="list-group-item list-group-item-action">Insurance Claim Requests</a>
                
              </div>
        </div>
        <div class="col-md-9">
            
                <div class="  rounded p-2 text-center"style="background-color:#90c43e;" id="navbarcollapse">
                    <h2>Admin Dashboard</h2>
                    <button class="btn btn-danger logout" (click)='Logout()' >Logout</button>
                </div>
            
              <!-- router outlet of child components -->
                
                <router-outlet></router-outlet>
        </div>
    </div>

</div>
<br><br>

        