<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<div class="card">

<table class="table table-bordered"  >
    
    <thead>
        <tr>
            
            <th>Name</th>
            <th>Type</th>
            <th>Bid Amount</th>
            
        </tr>
    </thead>
    <tbody *ngFor="let c of cropsbids">
        <tr>
            
            <td>{{c.cropname}}</td>
            <td>{{c.croptype}}</td>
            <td>{{c.currentBid}}</td>
            
            
            
        </tr>
  
    </tbody>
  </table>
      
</div>
<div class="row">
    <button class="btn btn-dark" routerLink='/farmer/market' style="margin: auto;width: 25%;">Back</button>

</div>

  <br>
  <br>
  <br>
  <br>
  <br>
  
