<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<div class="card">

<table class="table table-bordered"  >
    
    <thead>
        <tr>
            <!-- <th>Id</th> -->
            <th>Name</th>
            <th>Type</th>
            <th>Bid Amount</th>
            <th>Bid Status</th>
        </tr>
    </thead>
    <tbody *ngFor="let c of cropsbids">
        <tr>
            <!-- <td>{{c.cropid}}</td> -->
            <td>{{c.cropname}}</td>
            <td>{{c.croptype}}</td>
            <td>{{c.currentBid}}</td>
            <td>{{c.bidstatus}}</td>
            
            
        </tr>
  
    </tbody>
  </table>
      
</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  
