

  <table class="table">
    
    <thead>
        <tr>
            
            <th>Name</th>
            <th>Type</th>
            <th>Base MSP</th>
            <th>Sold Price</th>
             
            
        </tr>
    </thead>
    <tbody *ngFor="let c of crops">
        <tr>
            
            <td>{{c.cropname}}</td>
            <td>{{c.croptype}}</td>
            <td>{{c.baseMSp}}</td>
            <td>{{c.finalbidamount}}</td>

          
          
      </tr>

  </tbody>
</table>

  