<!-- <p>home works!</p> -->
<!--slider starts-->
<div class="carousel slide" data-bs-ride="carousel" id="a">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#a" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#a" data-bs-slide-to="1" ></button>
        <button type="button" data-bs-target="#a" data-bs-slide-to="2" ></button>
        <button type="button" data-bs-target="#a" data-bs-slide-to="3" ></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active " data-bs-interval="4000">
            <img src="../assets/images/home/sliders/slid1.jpg" class="d-block w-100 web-banner" alt="slider1">
            
        </div>
    
        <div class="carousel-item" data-bs-interval="3000" >
            <img src="../assets/images/home/sliders/slid2.jpg" class="d-block w-100 web-banner" alt="slider2">
            
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="../assets/images/home/sliders/slid3.jpg" class="d-block w-100 web-banner" alt="slider3">
           
        </div>
    
        <div class="carousel-item" data-bs-interval="3000">
            <img src="../assets/images/home/sliders/slid4.jpg" class="d-block w-100 web-banner" alt="slider4">
           
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#a" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#a" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="visually-hidden">next</span>
    </button>
</div>  
<!---- slider end----->


<!--clearance banner 1 starts-->
<div class="container-fluid clearance"style="background-image: url(assets/images/home/banners/farmback.png)">
  <div class="container">
      <div class="row text-center clearance_text">
         
          <div class="col-md-12">
              <div class="container">
                <img src="https://agrimp.com/assets/services/Services_agrimp_en_crop-acab5e797bfeca134d05ff6fed2212e5f6a2b2a361a0b8066bec262d6e27f7c5.png" alt="servicesimage" class="serviceimg">

              </div>
              
          </div>
        
          
      </div>
  </div>	
</div>
<!--clearance banner 1 ends-->

<!--clearance banner 2 starts-->
<div class="container-fluid clearance2"style="background-image: url(assets/images/home/banners/bg-shop.jpg)">
  <div class="container">
      <div class="row text-center clearance_text">
          <div class="col-md-2">
              
          </div>
          <div class="col-md-8">
            <div class="container-fluid"style="background:transparent;">
                <div class="container">
                    <div class="row text-center py-5">
                        <h1>Know-Your-Customer</h1>
                        <p>Know-Your-Customer (KYC) is the process we use to verify the identity and origin of finance of users in our digital market place. <br>
                            Thus, preventing any money laundering and the financing of terrorist activities over our platform, whilst creating a network with only trustworthy agricultural buyers and sellers.</p>
                    </div>
                    
                    <div class="row" >
                        <div class="col-md-6 text-center py-5">
                            <h1 style="color: #90c43e;">KYC for sellers</h1>
                            <p>Seller accounts are verified by Agri MP and our partners Lemonway & BNP Paribas.
                                <br> They are responsible for reviewing the company's registration document, proof of I.D. and user residence, and proof of company IBAN issues by that seller's bank.</p>
                        </div>
                        <div class="col-md-6 text-center py-5">
                            <h1 style="color: #90c43e;">KYC for buyers</h1>
                            <p>Buyer accounts are verified by Agri MP and our partners Lemonway & BNP Paribas.<br>
                                 The buyer KYC process is equal to the seller’s, but is not mandatory unless the buyer want to retract funds from his Agri MP wallet.</p>
                        </div>
                        
                    </div>
                </div>
                
            </div>
          </div>
          <div class="col-md-2">
              
          </div>
          
      </div>
  </div>	
</div>
<!--clearance banner 2 ends-->
<!--Newsletter starts-->
<div class="container-fluid news"style="background-image: url(assets/images/home/banners/bg-news.jpg)">
  <div class="container" style="padding-top: 120px;">
      <div class="row  text-center news_text">
          <div class="col-md-2">
              
          </div>
          <div class="col-md-8">
              
              <!-- <h5>Sign up now to receive emails for exclusive offers</h5> -->
              
              <!-- <form>
                  <div class="mb-3">
                  <input type="email" name="" class="form-control" style="background-color: rgba(255, 255, 255, 0.27) !important;"><br>
                  <input type="Submit" name="" value="Sign Up" class="btn more text-white">
              </div>
              </form> -->
          </div>
          <div class="col-md-2">
              
          </div>
          
      </div>
  </div>	
</div>
<!--Newsletter ends-->
